ion-toolbar{
    background-color: #72C4EF;
}
img{
    text-align:center;
}
ion-segment-button{
    background-color: #38599A;
}
p1{
    font-family: 'Lato';
    padding-left: 1em;
    color:black;
    font-weight: bold;
    font-size: 1.4em;
}
p2{
    font-family: 'Lato';
    padding-left: 1.8em;
    color:#8B8B8B;
    font-size: 0.8em;
}
ion-label{
    font-family: 'Lato';
    font-size: 0.9em;
}
ion-card{
    font-family: 'Lato';
    margin: 10%;
}